extends layout

block content
  div
    each part in summary
      if(part.level == 1)
        h1=part.title
      else if(part.level == 2)
        h2=part.title
      else if(part.level == 3)
        h3=part.title
      else if(part.level == 4)
        h4=part.title
      else if(part.level == 5)
        h5=part.title
      else if(part.level == 6)
        h6=part.title
      else
        h1=part.title
